<!-- @format -->

<!DOCTYPE html>
<html>
  <head>
    <title>#{conf.title}</title>
    <!-- include of global css dependencies -->
    link(rel="stylesheet" type="text/css" href=conf.root + "/public/css/dependencies/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href=conf.root + "/public/css/dependencies/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href=conf.root + "/public/css/style.css")
    <!-- other services -->
    link(rel="stylesheet" type="text/css" href=conf.root + "/public/css/dependencies/cookieconsent.min.css")
    <!-- include of app component css dependencies -->
    block head
  </head>
  <body>

    include ./navbar.pug
    <!-- include of app component -->
    block app
    include ./footer.pug
    <!-- include of global js dependencies -->
    script(src=conf.root + "/public/js/dependencies/vue.min.js")
    script(src=conf.root + "/public/js/dependencies/font-awesome.min.js")
    script(src=conf.root + "/public/js/dependencies/jquery.min.js")
    script(src=conf.root + "/public/js/dependencies/lodash.min.js")
    script(src=conf.root + "/public/js/dependencies/async.min.js")
    script(src=conf.root + "/public/js/dependencies/bootstrap.min.js")
    script(src=conf.root + "/public/js/conf/conf.js")
    script(src=conf.root + "/public/js/lib/url.js")
    script(src=conf.root + "/public/js/lib/api.js")
    script(src=conf.root + "/public/js/lib/accounts.js")
    script(src=conf.root + "/public/js/lib/notifications.js")
    script(src=conf.root + "/public/js/lib/dataHandler.js")
    script(src=conf.root + "/public/js/lib/params.js")
    script(src=conf.root + "/public/js/lib/clipboard.js")
    <!-- other services -->
    script(src=conf.root + "/public/js/dependencies/cookieconsent.min.js" data-cfasync="false")
    script(src=conf.root + "/public/js/dependencies/crisp.js")
    script(src=conf.root + "/public/js/dependencies/cookies.js")
    script(src=conf.root + "/public/js/dependencies/userflow.js")
    script(src=conf.root + "/public/js/dependencies/userflow.init.js")
    <!-- include of app component js dependencies -->
    block scripts
  </body>
</html>