extends ../layout

block content

  include ../functions/format.pug
  if error
    div(class='alert alert-warning' role='alert') #{error}
  if success
    div(class='alert alert-success' role='alert') #{success}

  div(class='container-fluid')
    div(class='row')
      div(class='col-12' style='background-color:#FFFFFF; border:1px solid #184D7E; border-radius: 20px;')
        div(class='list')
          div(class='row')
            div(class='col-12 text-center' style='margin-top:10px;')
              div(class='header') Custom search:
          div(class='row')
            div(class='col-12 text-center')
              form#custom-search(role='form', action=conf.root + 'documents',method='get')
                div pmid: 
                  input.form-control(style='display: inline-block; width: auto;' type='text' name='pmid' placeholder='pmid')
                div doi: 
                  input.form-control(style='display: inline-block; width: auto;' type='text' name='doi' placeholder='doi')
                div limit: 
                  input.form-control(style='display: inline-block; width: auto;' type='text' name='limit' placeholder='Maximum number of results')
                div
                  button.btn.btn-primary.waves-effect.waves-light(type='submit') Search for documents
          div(class='row')
            div(class='col-12 text-center')
              div(class='header')  All documents
          div(class='row')
            div(class='col-1')
              button.blue.btn.btn-primary.waves-effect.waves-light(type='buttom' id='previous_skip') <
            div(class='col-10')
              input#search(type='text' name='username' placeholder='Search for document (doi, pmid, title, email, etc)')
            div(class='col-1')
              button.blue.btn.btn-primary.waves-effect.waves-light(type='buttom' id='next_skip') >
          if  documents.length === 0
            div(class='row')
              div(class='col-12 text-center')
                div(class='header') No data
          else
            div(class='row')
              div(class='col-12 text-center')
                div(class='count-list') #{documents.length} result(s)
            div(class='row head-list' style='margin-right:10px; margin-left:10px;')
              div(class='col-12')
                div(class='form-row')
                  if current_user.role.label === 'curator'
                    div(class='col-1') Url
                    div(class='col-1') Date uploaded
                    div(class='col-1') Status
                    div(class='col-2') Modified By
                    div(class='col-2') Owner
                    div(class='col-1') Organisation
                    div(class='col-1') Journal
                    div(class='col-2') Title
                    div(class='col-1') Actions
                  else
                    div(class='col-1') Url
                    div(class='col-1') Date uploaded
                    div(class='col-2') Status
                    div(class='col-2') Modified By
                    div(class='col-2') Journal
                    div(class='col-4') Title
            each document, index in documents
              if (document.metadata)
                div(class='row' style='margin-right:10px; margin-left:10px;' data='true')
                  div(class='col-12')
                    form.accounts(role='form', action=conf.root + route, method='post')
                      div(class='form-row')
                        if current_user.role.label === 'curator'
                          div(class='col-1')
                            div(class="hidden") #{JSON.stringify(document.metadata)}
                            if (document.metadata.manuscript_id !== "")
                              a.document-link(href=conf.root + 'documents/' + document._id) #{document.metadata.manuscript_id}
                            else if (document.pdf)
                              a.document-link(href=conf.root + 'documents/' + document._id) #{document.pdf.filename}
                            else if (document.tei)
                              a.document-link(href=conf.root + 'documents/' + document._id) #{document.tei.filename}
                            else
                              a.document-link(href=conf.root + 'documents/' + document._id) #{formatUrl(document._id)}
                            input.form-control(type='text' name='id' class='hidden' value=document._id)
                          div(class='col-1') #{formatDate(document.uploaded_at)}
                          if document.status === 'metadata'
                            div(class='col-1') Metadata validation
                          else if document.status === 'datasets'
                            div(class='col-1') Datasets validation
                          else if document.status === 'finish'
                            div(class='col-1') Process finished
                          div(class='col-2')
                            ul.modifiers
                              each log, i in document.logs
                                li.item #{log.action} (#{log.user.username})
                          div(class='col-2' style='text-overflow: ellipsis; overflow: hidden;') #{document.owner.username}
                          div(class='col-1')
                            select.custom-select(name='organisation')
                              each organisation, index in organisations
                                if document.organisation.name === organisation.name
                                  option(selected value=organisation._id) #{organisation.name}
                                else
                                  option(value=organisation._id) #{organisation.name}
                          div(class='col-1') #{document.metadata.journal}
                          div(class='col-2') #{document.metadata.article_title}
                          div(class='col-1')
                            button.btn.btn-primary.waves-effect.waves-light(type='submit' name='update') Update
                            button.btn.btn-danger.waves-effect.waves-light(type='submit' name='delete') Delete
                        else
                          div(class='col-1')
                            div(class="hidden") #{JSON.stringify(document.metadata)}
                            if (document.metadata.manuscript_id !== "")
                              a.document-link(href=conf.root + 'documents/' + document._id) #{document.metadata.manuscript_id}
                            else if (document.pdf)
                              a.document-link(href=conf.root + 'documents/' + document._id) #{document.pdf.filename}
                            else if (document.tei)
                              a.document-link(href=conf.root + 'documents/' + document._id) #{document.tei.filename}
                            else
                              a.document-link(href=conf.root + 'documents/' + document._id) #{formatUrl(document._id)}
                            input.form-control(type='text' name='id' class='hidden' value=document._id)
                          div(class='col-1') #{formatDate(document.uploaded_at)}
                          if document.status === 'metadata'
                            div(class='col-2') Metadata validation
                          else if document.status === 'datasets'
                            div(class='col-2') Datasets validation
                          else if document.status === 'finish'
                            div(class='col-2') Process finished
                          div(class='col-2')
                            ul.modifiers
                              each log, i in document.logs
                                li.item #{log.user.username} (#{log.action})
                          div(class='col-2') #{document.metadata.journal}
                          div(class='col-4') #{document.metadata.article_title}

          div(class='row')
            div(class='col-12' style='margin-top:20px;')