extends ../layout

block content

  div(class='container-fluid')
    div(class='row')
      div(class='col-12' style='background-color:#FFFFFF; border:1px solid #184D7E; border-radius: 20px;')
        div(class='list')
          div(class='row')
            div(class='col-12 text-center' style='margin-top:10px;')
              div(class='header') Custom search :
          div(class='row')
            div(class='col-12 text-center')
              form#custom-search(role='form', action='./documents',method='get')
                div pmid : 
                  input(type='text' name='pmid' placeholder='pmid')
                div doi : 
                  input(type='text' name='doi' placeholder='doi')
                div limit : 
                  input(type='text' name='limit' placeholder='Maximum number of results')
                div
                  button.btn.btn-default.waves-effect.waves-light(type='submit') Search for documents
          div(class='row')
            div(class='col-12 text-center')
              div(class='header') Result(s)
          if  documents.length === 0
            div(class='row')
              div(class='col-12 text-center')
                div(class='header') No data
          else
            div(class='row')
              div(class='col-12')
                input#search(type='text' name='username' placeholder='Search for document (doi, pmid, title, email, etc)')
            div(class='row head-list' style='margin-right:10px; margin-left:10px;')
              div(class='col-2') Url
              div(class='col-2') Status
              div(class='col-2') Modified by
              div(class='col-2') Journal
              div(class='col-4') Title
            each document, index in documents
              div(class='row' style='margin-right:10px; margin-left:10px;' data='true')
                div(class='col-2')
                  a(href=root + 'documents/' + document._id) #{document._id}
                if document.status === 'metadata'
                  div(class='col-2') Metadata validation
                else if document.status === 'datasets'
                  div(class='col-2') Datasets validation
                else if document.status === 'finish'
                  div(class='col-2') Process finished
                div(class='col-2')
                  ul
                    each role, i in document.modifiedBy
                      each user, j in role
                        li #{user} (#{i})
                div(class='col-2') #{document.metadata.journal}
                div(class='col-4') #{document.metadata.articleTitle}

          div(class='row')
            div(class='col-12' style='margin-top:20px;')