extends ../layout

block content

  div(id='user-navbar-lg' class='col-12' style='min-height:45px; background-color:#FFFFFF; border:1px solid #184D7E; border-radius: 20px; margin-bottom:10px;')
    div(class='row align-items-center' style='margin-top: 15px; margin-bottom: 15px;')
      div(class='col-8' id='navbar-lg')
        ul
          li
            img(src=conf.root + 'img/DataSeer-logo-min.png' width='25')
          
          if current_user && !useDocumentToken
            li
              a(href=conf.root + 'myDocuments' class='nav') My documents

            if current_user.role.label === 'curator' || current_user.role.label === 'annotator'
              li
                a(href=conf.root + 'documents' class='nav') All documents
            li
              a(href=conf.root + 'backoffice/upload' class='nav') Upload
            if current_user.role.label === 'curator'
              li
                a(href=conf.root + 'backoffice/accounts' class='nav') Accounts
            if current_user.role.label === 'curator'
              li
                a(href=conf.root + 'backoffice/organisations' class='nav') Organizations
            li
              a(href=conf.root + 'settings' class='nav') Settings
            li
              a(href=conf.root + 'signout' class='nav') Sign out
          else
            li
              a(href=conf.root + 'signup' class='nav') Sign up
            li
              a(href=conf.root + 'signin' class='nav') Sign in
            li
              a(href=conf.root + 'forgotPassword' class='nav') Forgot password
          li
            button.blue.btn.btn-primary.waves-effect.waves-light(type='button' id='getPublicURL' style='margin-left:10px;' title='Copy URL to clipboard')
              <i class="fas fa-link"></i>
            input.form-control.hidden(type='text' id='public_url' name='public_url' value=publicURL)
            a(href='mailto:?subject='+ encodeURIComponent(mail.subject) + '&body=' + encodeURIComponent(mail.body) target='_blank')
              button.blue.btn.btn-primary.waves-effect.waves-light(type='button' id='getPublicURL' style='margin-left:10px;' title='Send URL by email')
                <i class="far fa-envelope"></i>
      div(class='col-4' id='user-lg')
        div(style='font-size:small; float: right; margin-right: 25px; height: 100%; margin-top: -2px;')
          if current_user && !useDocumentToken
              div(style='display: inline-block; margin-right: 5px;') Connected as:
              div(style='display: inline-block; margin-right: 5px;') <b>#{current_user.username}</b>
              div(style='display: inline-block;') (#{current_user.role.label}, #{current_user.organisation.name})
          else
            a(href=conf.root + 'signup') Sign up 
            div(style='display: inline-block; margin-right: 5px; margin-left: 5px;') or 
            a(href=conf.root + 'signin') Sign in 
            div(style='display: inline-block; margin-right: 5px; margin-left: 5px;') to access DataSeer

  div(class='row' style='margin-bottom:5px;')
    div(class='col-12')
      div(class='' style='border:1px solid #184D7E;background-color:#FFF; border-radius: 20px;')
        div(id='datasets-list' style='border:0px;height: 115px; border-radius: 20px;')
    
  div(class='row' style='height:70%;flex:1 0 auto;')
    div(class='col-8' style='height:100%;padding-right:0px;')
      div(class='' style='height:100%;')        
        div(id='view-selection' class='btn-group btn-group-toggle' data-toggle='buttons' style='overflow:hidden;padding:0;margin:0;height:20px;border-top-left-radius: 20px;border-top-right-radius: 20px;')
          if document.pdf
            label(class='btn btn-secondary btn-sm') full text
              input(type='radio' name='options' id='tei_all_visible' value='allVisible' autocomplete='off')
          else
            label(class='btn btn-secondary btn-sm active') full text
              input(type='radio' name='options' id='tei_all_visible' value='allVisible' autocomplete='off' checked)
          label(class='btn btn-secondary btn-sm') section
            input(type='radio' name='options' id='tei_only_dataseer' value='onlyDataseer' autocomplete='off')
          label(class='btn btn-secondary btn-sm') paragraph
            input(type='radio' name='options' id='tei_only_datasets' value='onlyDatasets' autocomplete='off')
          if document.pdf
            label(class='btn btn-secondary btn-sm active') PDF
              input(type='radio' name='options' id='pdf_all_visible' value='pdf' autocomplete='off' checked)

        div(class='foot-col' style='height:calc(100% - 20px); overflow: hidden; border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;')
          div(id='document-view-container')
            div(id='document-view' class='' style='padding:0;')

    <span id="fixedMsgBottomRight">Saving...</span>

    div(class='col-4' style='height:100%; padding-left:5px;')
      div(id='dataset-form-container' class='foot-col' style='height:93%;')
        div(class='wrapper')
          div(id='dataset-form' class='form')
      div(class='' style='display: flex; align-items: center; justify-content: center; height:7%; width:100%')
        if current_user
            if document
              if document.status !== 'metadata'
                button(id='back_to_metadata' class='btn btn-primary' style='height:80%;line-height: 0;') Back to Metadata
        button(id='datasets_validation' class='btn btn-primary' style='height:80%;line-height: 0;') Finish all Datasets

            

  include ../modals/quit.pug
  include ../modals/documents/datasets.pug
  include ../modals/help.pug

  <div id="pdf-loading-loop">
    <div class="loader-container">
      <div id="pdf-loading-loop-infos"></div>
      <div class="loader"></div> 
    </div>
  </div>