extends ../layout

block content

  div(class='container-fluid')

    if current_user
      if document
        if document.status !== 'metadata'
          button.blue.btn.btn-primary.waves-effect.waves-light#reopen_document(type='button' title='Reopen this document')
           <i class="fas fa-undo-alt"></i> Reopen document
      button.blue.btn.btn-primary.waves-effect.waves-light(type='button' id='getPublicURL' style='margin-left:10px;' title='Copy URL to clipboard')
        <i class="fas fa-link"></i> Get public URL of this document
      input.form-control.hidden(type='text' id='public_url' name='public_url' value=publicURL)
      a(href='mailto:?subject='+ encodeURIComponent(mail.subject) + '&body=' + encodeURIComponent(mail.body) target='_blank')
        button.blue.btn.btn-primary.waves-effect.waves-light(type='button' id='getPublicURL' style='margin-left:10px;' title='Send URL by email')
          <i class="far fa-envelope"></i> Share with colleague
      if(current_user.role.label === "standard_user")
        a(href='https://docs.google.com/forms/d/e/1FAIpQLScRVw-GPA-15VVrYFADXJUKByA7SV5oDwv6ynAjOxt2W5QT7A/viewform?usp=sf_link' id='standard_user_feedback_link' target='_blank')
          button.btn.btn-primary.waves-effect.waves-light.bg-primary(type='button' id='getPublicURL' style='margin-left:10px;' title='Send URL by email') Give feedback about your DataSeer experience
      else
        a(href='https://docs.google.com/forms/d/e/1FAIpQLSeURLXaNchVJEawPaiBrC--cM2mXc1zMEcaR4hu8MZyv44nHw/viewform?usp=sf_link' id='annotator_feedback_link' target='_blank')
          button.btn.btn-primary.waves-effect.waves-light.bg-primary(type='button' id='getPublicURL' style='margin-left:10px;' title='Send URL by email') Annotator feedback
      if(current_user.role.label !== "standard_user")
        div(class='row-margin')
          button.blue.btn.btn-primary.waves-effect.waves-light#refresh_datasets(type='button' title='Refresh datasets informations')
            <i class="fas fa-sync-alt"></i> Refresh datasets

    div(class='row row-margin')
      div(class='col-12')
        div(class='key d-inline font-weight-bold') Suggested Data Availability Statement: 
    
    div(class='row row-margin')
      div(class='value d-block statements-container')
        each dataset in document.datasets.current
          if dataset.DOI
            div(class='col-12')
              if dataset.name
                div(class='value d-block' style="margin-bottom: 4px;") #{dataset.name}: 
                  a(href=dataset.DOI) #{dataset.DOI}
              else
                div(class='value d-block' style="margin-bottom: 4px;") #{dataset.id}: 
                  a(href=dataset.DOI) #{dataset.DOI}
          else if dataset.comments
            div(class='col-12')
              if dataset.name
                div(class='value d-block' style="margin-bottom: 4px;") #{dataset.name}: #{dataset.comments}
              else
                div(class='value d-block' style="margin-bottom: 4px;") #{dataset.id}: #{dataset.comments}
          else
            div(class='col-12')
              if dataset.name
                div(class='value d-block' style="margin-bottom: 4px;") #{dataset.name}: Please provide the DOI (or other stable link) or enter any comments (such as a reason why this dataset cannot be shared)
              else
                div(class='value d-block' style="margin-bottom: 4px;") ##{dataset.id}: Please provide the DOI (or other stable link) or enter any comments (such as a reason why this dataset cannot be shared)

    div(class='row row-margin')
      if document.metadata.authors.length > 0
        div(class='col-12')
          div(class='key d-inline font-weight-bold') Authors: 
            div(class='value d-block authors-container')
              ul
                each val, index in document.metadata.authors
                  if val.name
                    if (val.email)
                      <li> #{val.name} (<strong>#{val.email}</strong>)
                    else
                      li #{val.name}
                    ul
                      if val.name && val.affiliations
                        each aff, index in val.affiliations
                          li #{aff}

      div(class='col-12')
        div(class='key d-inline font-weight-bold') Title: 
        div(class='value d-inline') #{document.metadata.article_title}
      div(class='col-12')
        div(class='key d-inline font-weight-bold') Manuscript #: 
        div(class='value d-inline') #{document.metadata.manuscript_id}
      div(class='col-12')
        div(class='key d-inline font-weight-bold') Submitting Author: 
        div(class='value d-inline') #{document.metadata.submitting_author}
      div(class='col-12')
        div(class='key d-inline font-weight-bold') Submitting Author email: 
        div(class='value d-inline') #{document.metadata.submitting_author_email}

    div(class='row row-margin')
      div(class='col-12')
        div(class='key d-inline font-weight-bold') Datasets:

    if document.datasets.current.length === 0
      div(class='row')
        div(class='col-12')
          div(class='value d-block') None
    else
      div(class='row')
        div(class='col-12')
          div(class='value d-block datasets-container')
            table
              each dataset, index in document.datasets.current
                <tr>
                  <th class='font-weight-bold' colspan='2'>Dataset #{index+1} :</th>
                </tr>
                </tr>
                  <td><i>Dataset Id:</i></td>
                  <td><i>##{dataset.id}</i></td>
                </tr>
                  <td>Dataset Name:</td>
                  if dataset.name
                    <td>#{dataset.name}</td>
                  else
                    <td>Please provide a name to this dataset</td>
                </tr>
                </tr>
                  <td>Data Type:</td>
                  if dataset.subType !== ''
                    <td>#{dataset.dataType} - #{dataset.subType}</td>
                  else
                    <td>#{dataset.dataType}</td>
                </tr>
                </tr>
                  <td>Data Sentence:</td>
                  if dataset.text
                    <td>#{dataset.text}</td>
                  else
                    <td>n/a</td>
                </tr>
                </tr>
                  <td>Stable Identifier:</td>
                  if dataset.DOI
                    <td>
                      a(href=dataset.DOI) #{dataset.DOI}
                    </td>
                  else
                    <td>Please provide the DOI (or other stable link) to this dataset</td>
                </tr>
                </tr>
                  <td>Comments:</td>
                  if dataset.comments
                    <td>#{dataset.comments}</td>
                  else
                    <td>Please enter any comments (such as a reason why this dataset cannot be shared)</td>
                </tr>

    div(class='row row-margin')
      div(class='col-12')
        div(class='key d-inline font-weight-bold') Deleted Datasets:

    if document.datasets.deleted.length === 0
      div(class='row')
        div(class='col-12')
          div(class='value d-block') None
    else
      div(class='row')
        div(class='col-12')
          div(class='value d-block datasets-container')
            table
              each dataset, index in document.datasets.deleted
                <tr>
                  <th class='font-weight-bold' colspan='2'>Dataset #{index+1} :</th>
                </tr>
                  <td>Dataset Name:</td>
                  if dataset.name
                    <td>#{dataset.name}</td>
                  else
                    <td>n/a</td>
                </tr>
                </tr>
                  <td>Data Type:</td>
                  if dataset.subType !== ''
                    <td>#{dataset.dataType} - #{dataset.subType}</td>
                  else
                    <td>#{dataset.dataType}</td>
                </tr>
                </tr>
                  <td>Data Sentence:</td>
                  if dataset.text
                    <td>#{dataset.text}</td>
                  else
                    <td>n/a</td>
                </tr>
                </tr>
                  <td>Stable Identifier:</td>
                  if dataset.DOI
                    <td>
                      a(href=dataset.DOI) #{dataset.DOI}
                    </td>
                  else
                    <td>n/a</td>
                </tr>
                </tr>
                  <td>Comments:</td>
                  if dataset.comments
                    <td>#{dataset.comments}</td>
                  else
                    <td>n/a</td>
                </tr>