extends ../layout

block content

  div(class='container-fluid')
    div(class='row')
      div(class='col-12' style='background-color:#FFFFFF; border:1px solid #184D7E; border-radius: 20px;')
        div(class='row row-margin')
          if document.metadata.journal
            div(class='col-12')
              div(class='key d-inline font-weight-bold') Journal: 
              div(class='value d-inline') #{document.metadata.journal}
          if document.metadata.publisher
            div(class='col-12')
              div(class='key d-inline font-weight-bold') Publisher: 
              div(class='value d-inline') #{document.metadata.publisher}
          if document.metadata.date_published
            div(class='col-12')
              div(class='key d-inline font-weight-bold') Publication date: 
              div(class='value d-inline') #{document.metadata.date_published}
          if document.metadata.doi
            div(class='col-12')
              div(class='key d-inline font-weight-bold') DOI: 
              div(class='value d-inline') #{document.metadata.doi}
          if document.metadata.pmid
            div(class='col-12')
              div(class='key d-inline font-weight-bold') PMID: 
              div(class='value d-inline') #{document.metadata.pmid}

        div(class='row row-margin')
          if document.metadata.submittingAuthor
            div(class='col-12')
              div(class='key d-inline font-weight-bold') Submiting Author: 
              div(class='value d-inline') #{document.metadata.submittingAuthor}
          if document.metadata.submittingAuthorEmail
            div(class='col-12')
              div(class='key d-inline font-weight-bold') Submiting Author Email: 
              div(class='value d-inline') #{document.metadata.submittingAuthorEmail}

        div(class='row row-margin')
          if document.metadata.articleTitle
            div(class='col-12')
              div(class='key d-inline font-weight-bold') Article Title: 
              div(class='value d-inline') #{document.metadata.articleTitle}
          if document.metadata.authors.length > 0
            div(class='col-12')
              div(class='key d-inline font-weight-bold') Authors: 
                div(class='value d-block authors-container')
                  ul
                    each val, index in document.metadata.authors
                      if val.name
                        li #{val.name}
                          ul
                            if val.name && val.affiliations
                              each aff, index in val.affiliations
                                li #{aff}

        if current_user.role.label === 'curator'
          div(class='row row-margin')
            div(class='col-12')
              form(ref='reload_metada' id='reload_metada' method='post')
                button.blue.btn.btn-primary.waves-effect.waves-light(type='submit' id='addDocuments' style='margin-left:10px;') Reload metadata

        div(class='row row-margin')
          div(class='col-12')
            button.blue.btn.btn-primary.waves-effect.waves-light(type='button' id='getPublicURL' style='margin-left:10px;') Get public URL of this document
            input.form-control.hidden(type='text' id='public_url' name='public_url' value=publicURL)

        div(class='row crud-button-action')
          div(class='col-6 text-center')
            button(id='metadata_validation' class='blue btn btn-primary waves-effect waves-light') This info is correct: Continue
          div(class='col-6 text-center')
            a(href="mailto:tim@dataseer.ai")
              button(id='metadata_contest' class='blue btn btn-primary waves-effect waves-light') Something is wrong: Contact the DataSeer curator