extends ../layout

block content

  div(class='container-fluid')
    div(class='row')
      div(class='col-12' style='background-color:#FFFFFF; border:1px solid #184D7E; border-radius: 20px;')
        div(class='row row-margin')
          if document.metadata.journal
            div(class='col-12')
              div(class='key d-inline font-weight-bold') Journal: 
              div(class='value d-inline') #{document.metadata.journal}
          if document.metadata.publisher
            div(class='col-12')
              div(class='key d-inline font-weight-bold') Publisher: 
              div(class='value d-inline') #{document.metadata.publisher}
          if document.metadata.date_published
            div(class='col-12')
              div(class='key d-inline font-weight-bold') Publication date: 
              div(class='value d-inline') #{document.metadata.date_published}
          if document.metadata.doi
            div(class='col-12')
              div(class='key d-inline font-weight-bold') DOI: 
              div(class='value d-inline') #{document.metadata.doi}
          if document.metadata.pmid
            div(class='col-12')
              div(class='key d-inline font-weight-bold') PMID: 
              div(class='value d-inline') #{document.metadata.pmid}

        div(class='row row-margin')
          if document.metadata.submittingAuthor
            div(class='col-12')
              div(class='key d-inline font-weight-bold') Submiting Author: 
              div(class='value d-inline') #{document.metadata.submittingAuthor}
          if document.metadata.submittingAuthorEmail
            div(class='col-12')
              div(class='key d-inline font-weight-bold') Submiting Author Email: 
              div(class='value d-inline') #{document.metadata.submittingAuthorEmail}

        div(class='row row-margin')
          if document.metadata.articleTitle
            div(class='col-12')
              div(class='key d-inline font-weight-bold') Article Title: 
              div(class='value d-inline') #{document.metadata.articleTitle}
          if document.metadata.authors.length > 0
            div(class='col-12')
              div(class='key d-inline font-weight-bold') Authors: 
                div(class='value d-block authors-container')
                  ul
                    each val, index in document.metadata.authors
                      if val.name
                        if (val.email)
                          <li> #{val.name} (<strong>#{val.email}</strong>)
                        else
                          li #{val.name}
                        ul
                          if val.name && val.affiliations
                            each aff, index in val.affiliations
                              li #{aff}

        if current_user.role.label === 'curator'
          div(class='row row-margin')
            div(class='col-12')
              form(ref='reload_metada' id='reload_metada' method='post' style='display: inline-block; width: auto;')
                button.blue.btn.btn-primary.waves-effect.waves-light(type='submit' id='addDocuments' style='margin-left:10px;')
                  <i class="fas fa-sync-alt"></i> Reload metadata
              <!-- button.blue.btn.btn-primary.waves-effect.waves-light(type='button' id='sendMailToAuthors' style='margin-left:10px;' title='Send email to authors') -->
              <!--   <i class="far fa-envelope"></i> Send email to authors <i class="fas fa-sync-alt fa-spin hidden"></i>  -->

        div(class='row row-margin')
          div(class='col-12')
            button.blue.btn.btn-primary.waves-effect.waves-light(type='button' id='getPublicURL' style='margin-left:10px;' title='Copy URL to clipboard')
              <i class="fas fa-link"></i> Get public URL of this document
            input.form-control.hidden(type='text' id='public_url' name='public_url' value=publicURL)
            a(href='mailto:?subject='+ encodeURIComponent(mail.subject) + '&body=' + encodeURIComponent(mail.body) target='_blank')
              button.blue.btn.btn-primary.waves-effect.waves-light(type='button' id='getPublicURL' style='margin-left:10px;' title='Send URL by email')
                <i class="far fa-envelope"></i> Share with colleague

        div(class='row crud-button-action')
          div(class='col-6 text-center')
            button(id='metadata_validation' class='blue btn btn-primary waves-effect waves-light') This info is correct: Continue
          div(class='col-6 text-center')
            a(href="mailto:tim@dataseer.ai")
              button(id='metadata_contest' class='blue btn btn-primary waves-effect waves-light') Something is wrong: Contact the DataSeer curator