doctype html
html
  head      
    title DataSeer
    link(rel='shortcut icon' type='image/ico' href=root + 'favicon.ico')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')  
    link(rel='stylesheet' href=root + 'stylesheets/style.css')

    if document
      link(rel='stylesheet' href=root + 'stylesheets/tei.css')
      link(rel='stylesheet' href=root + 'stylesheets/process/'+ document.status + '.css')
      link(rel='stylesheet' href=root + 'javascripts/pdf.js/build/components/pdf_viewer.css')
      
    if backoffice
      link(rel='stylesheet' href=root + 'stylesheets/style.css')
      link(rel='stylesheet' href=root + 'stylesheets/process/backoffice.css')

    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css')

  body
    if current_user
      div#user_id #{current_user.id}
      div#user_username #{current_user.username}
      div#user_role #{current_user.role.label}
    div(id='user-navbar' class='col-12' style='background-color:#FFFFFF; border:1px solid #184D7E; border-radius: 20px; margin-bottom:10px;padding-left: 25px;')
      div(id='logo' style='padding-top: 0px; padding-bottom: 0px;')
      div
        if current_user
          div(id='user' style='position:absolute; top:0px; right:10px; text-align:right;margin-right: 15px;')
            if (current_user.organisation !== '')
              label(style='font-size:small;') Connected as: 
                a(href=href=root + 'settings')
                  <b>#{current_user.username}</b> 
              label(style='font-size:small;') (#{current_user.role.label}, #{current_user.organisation})
            else
              label(style='font-size:small;') Connected as: 
                a(href=href=root + 'settings')
                  <b>#{current_user.username}</b> 
              label(style='font-size:small;') (#{current_user.role.label}, None)
        else
          div(id='user' style='position:absolute; top:0px; right:25px; text-align:right;')
            label(style='font-size:small;') 
              a(href=root + 'signup' class=(route === 'signup') ? 'active' : '') Sign up 
              | or 
              a(href=root + 'signin' class=(route === 'signup') ? 'active' : '') Sign in 
              | to access DataSeer
        div(id='navbar' style='position:absolute; bottom:0px; right:10px; text-align:right;')
          ul
            if current_user
              if current_user.role.label === 'curator'
                li
                  a(href=root class=(route === '') ? 'nav active' : 'nav') Help
              li
                a(href=root + 'myDocuments' class=(route === 'myDocuments') ? 'nav active' : 'nav') My documents
              if current_user.role.label === 'curator' || current_user.role.label === 'annotator'
                li
                  a(href=root + 'documents' class=(route === 'documents') ? 'nav active' : 'nav') All documents
              li
                a(href=root + 'backoffice/upload' class=(route === 'backoffice/upload') ? 'nav active' : 'nav') Upload
              if current_user.role.label === 'curator'
                li
                  a(href=root + 'backoffice/accounts' class=(route === 'backoffice/accounts') ? 'nav active' : 'nav') Accounts
              if current_user.role.label === 'curator'
                li
                  a(href=root + 'backoffice/organisations' class=(route === 'backoffice/organisations') ? 'nav active' : 'nav') Organizations
              li
                a(href=root + 'settings' class=(route === 'settings') ? 'nav active' : 'nav') Settings
              li
                a(href=root + 'signout' class=(route === 'signout') ? 'nav active' : 'nav') Sign out
            else
              li
                a(href=root + 'signup' class=(route === 'signup') ? 'nav active' : 'nav') Sign up
              li
                a(href=root + 'signin' class=(route === 'signin') ? 'nav active' : 'nav' style='color:#184D7E;') Sign in
              li
                a(href=root + 'forgotPassword' class=(route === 'forgotPassword') ? 'nav active' : 'nav' style='color:#184D7E;') Forgot password

    block content

    div(class='footer' style='text-align:center;margin-top: 20px; ')  
      a(href='https://www.dataseer.io' style='color:#ffffff;' target='_blank') dataseer.ai
      a(href='https://github.com/kermitt2/dataseer-web' target='_blank')
        i(class='fab fa-github' style='color:#1E3945;margin-left:5px;')

  script(src=root + 'javascripts/lib/jquery.js')
  if document
    div(id='document.id' class='data' value=(document._id))
    script(src=root + 'javascripts/lib/randomColor.min.js')
    script(src=root + 'javascripts/lib/htmlBuilder.js')
    script(src=root + 'javascripts/lib/view.js')
    script(src=root + 'javascripts/lib/documentView.js')
    script(src=root + 'javascripts/lib/datasetForm.js')
    script(src=root + 'javascripts/lib/datasetsList.js')
    script(src=root + 'javascripts/mongoDB.js')
    script(src=root + 'javascripts/dataseerML.js')
    script(src=root + 'javascripts/admin.js')
    script(src=root + 'javascripts/process/'+ document.status + '.js')
    script(src=root + 'javascripts/pdf.js/build/generic/build/pdf.js')
    script(src=root + 'javascripts/pdf.js/build/generic/build/pdf.worker.js')
    script(src=root + 'javascripts/lib/pdfManager.js')
    script(src=root + 'javascripts/lib/pdfViewer.js')
  else if backoffice
    script(src=root + 'javascripts/process/backoffice.js')
  else if search
    script(src=root + 'javascripts/search.js')

  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js' data-cfasync='false')
  script(src=root + 'javascripts/cookies.js')