doctype html
html
  head
    title DataSeer
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')  
    link(rel='stylesheet' href='../stylesheets/style.css')
    if document
      link(rel='stylesheet' href='../stylesheets/tei.css')
      if current_user.role.label === 'curator'
        link(rel='stylesheet' href='../stylesheets/process/datasets.css')
      else
        link(rel='stylesheet' href='../stylesheets/process/'+ document.status + '.css')
    if backoffice
      link(rel='stylesheet' href='../../stylesheets/style.css')
      link(rel='stylesheet' href='../../stylesheets/process/backoffice.css')
  body
    if current_user
      div#user_id #{current_user.id}
      div#user_username #{current_user.username}
      div#user_role #{current_user.role.label}
    div(id='user-navbar' class='col-12' style='background-color:#FFFFFF; border:1px solid #184D7E; border-radius: 20px; margin-bottom:10px;')
      div
        if current_user
          div(id='user' style='position:absolute; top:0px; right:10px; text-align:right;')
            label(style='font-size:small;') Connected as: <b>#{current_user.username}</b> (#{current_user.role.label})
        else
          div(id='user' style='position:absolute; top:0px; right:25px; text-align:right;')
            label(style='font-size:small;') 
              a(href='./signup' class=(route === '/signup') ? 'active' : '') Sign up 
              | or 
              a(href='./signin' class=(route === '/signup') ? 'active' : '') Sign in 
              | to access DataSeer
        div(id='navbar' style='position:absolute; bottom:0px; right:10px; text-align:right;')
          ul
            if current_user
              if current_user.role.label === 'curator'
                li
                  a(href='./' class=(route === '/') ? 'nav active' : 'nav') Help
              li
                a(href='./myDocuments' class=(route === '/myDocuments') ? 'nav active' : 'nav') My documents
              if current_user.role.label === 'curator' || current_user.role.label === 'annotator'
                li
                  a(href='./documents' class=(route === '/documents') ? 'nav active' : 'nav') All documents
              li
                a(href='./backoffice/upload' class=(route === '/backoffice/upload') ? 'nav active' : 'nav') Upload
              if current_user.role.label === 'curator'
                li
                  a(href='./backoffice/accounts' class=(route === '/backoffice/accounts') ? 'nav active' : 'nav') Accounts
              li
                a(href='./settings' class=(route === '/settings') ? 'nav active' : 'nav') Settings
              li
                a(href='./signout' class=(route === '/signout') ? 'nav active' : 'nav') Sign out
            else
              li
                a(href='./signup' class=(route === '/signup') ? 'nav active' : 'nav') Sign up
              li
                a(href='./signin' class=(route === '/signin') ? 'nav active' : 'nav' style='color:#184D7E;') Sign in
              li
                a(href='./forgotPassword' class=(route === '/forgotPassword') ? 'nav active' : 'nav' style='color:#184D7E;') Forgot password

    block content

    div(style='text-align:center;margin-top: 20px;')  
      a(href='https://www.dataseer.io' style='color:#ffffff;' target='_blank') dataseer.io
      a(href='https://github.com/kermitt2/dataseer-web' target='_blank')
        i(class='fab fa-github' style='color:#8DCB55;margin-left:5px;')

  if signin
    script(src='./javascripts/lib/jquery.js')
  else if document
    div(id='document.id' class='data' value=(document._id))
    script(src='../javascripts/lib/jquery.js')
    script(src='../javascripts/lib/randomColor.min.js')
    script(src='../javascripts/lib/htmlBuilder.js')
    script(src='../javascripts/lib/view.js')
    script(src='../javascripts/lib/documentView.js')
    script(src='../javascripts/lib/datasetForm.js')
    script(src='../javascripts/lib/datasetsList.js')
    script(src='../javascripts/mongoDB.js')
    script(src='../javascripts/dataseerML.js')
    script(src='../javascripts/demo.js')
    if current_user.role.label === 'curator'
      script(src='../javascripts/process/datasets.js')
    else
      script(src='../javascripts/process/'+ document.status + '.js')
  else if backoffice
    script(src='../../javascripts/lib/jquery.js')
    script(src='../../javascripts/process/backoffice.js')
  else if search
    script(src='../../javascripts/lib/jquery.js')
    script(src='../../javascripts/search.js')
  else
    script(src='../javascripts/lib/jquery.js')

  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')