extends ./layout

block content

  include ./functions/format.pug

  div(class='container-fluid')
    div(class='row')
      div(class='col-12' style='background-color:#FFFFFF; border:1px solid #184D7E; border-radius: 20px;')
        div(class='list')
          div(class='row')
            div(class='col-12 text-center' style='margin-top:10px;')
              div(class='header') My documents 
          if documents.length !== 0
            div(class='row')
              div(class='col-12 text-center')
                div(class='count-list') #{documents.length} Result(s)
          div(class='row')
            div(class='col-12')
              input#search(type='text' name='username' placeholder='Search for document (doi, pmid, title, email, etc)')
          div(class='row head-list' style='margin-right:10px; margin-left:10px;')
            div(class='col-2') Url
            div(class='col-2') Date uploaded
            div(class='col-2') Status
            div(class='col-2') Journal
            div(class='col-4') Title
          if documents.length === 0
            div(class='row')
              div(class='col-12 text-center')
                div(class='header') No data
          else
            each document, index in documents
              if (document.metadata)
                div(class='row' style='margin-right:10px; margin-left:10px;' data='true')
                  div(class='col-2')
                    div(class="hidden") #{JSON.stringify(document.metadata)}
                    if (document.metadata.manuscript_id !== "")
                      a.document-link(href=root + 'documents/' + document._id) #{document.metadata.manuscript_id}
                    else if (document.pdf !== "")
                      a.document-link(href=root + 'documents/' + document._id) #{document.pdf.filename}
                    else if (document.tei !== "")
                      a.document-link(href=root + 'documents/' + document._id) #{document.tei.filename}
                    else
                      a.document-link(href=root + 'documents/' + document._id) #{formatUrl(document._id)}
                  div(class='col-2') #{formatDate(document.uploaded_at)}
                  if document.status === 'metadata'
                    div(class='col-2') Metadata validation
                  else if document.status === 'datasets'
                    div(class='col-2') Datasets validation
                  else if document.status === 'finish'
                    div(class='col-2') Process finished
                  div(class='col-2') #{document.metadata.journal}
                  div(class='col-4') #{document.metadata.article_title}

          div(class='row')
            div(class='col-12' style='margin-top:20px;')