<!DOCTYPE html>
<html>
  <head>
    <title>DataSeer Data Discovery Report</title>
    link(rel="stylesheet" type="text/css" href=conf.pathname + "/public/css/reports/default.css")
  </head>
  <body>
    <section>
      <div class="property">
        <label class="key">Links:</label>
        <label class="value">
          a(href=links.publicURL) Document URL
        </label>
        <label class="value">
          a(href=links.TEI) get TEI
        </label>
        <label class="value">
          a(href=links.PDF) get PDF
        </label>
      </div>
    </section>
    <section>
      <h2>Metadata:</h2>
      <section>
        <div class="property">
          <label class="key">Title:</label>
          <label class="value">
            if(reportData.doc.metadata.article_title)
              | #{reportData.doc.metadata.article_title}
            else
              | n/a
          </label>
        </div>
      </section>
      <section>
        <div class="property">
          <label class="key">Manuscript #:</label>
          <label class="value">
            if(reportData.doc.metadata.manuscript_id)
              | #{reportData.doc.metadata.manuscript_id}
            else
              | n/a
          </label>
        </div>
        <div class="property">
          <label class="key">DOI:</label>
          <label class="value">
            if(reportData.doc.metadata.doi)
              | #{reportData.doc.metadata.doi}
            else
              | n/a
          </label>
        </div>
      </section>
      <section>
        <div class="property">
          <label class="key">Submitting Author:</label>
          <label class="value">
            if(reportData.doc.metadata.submitting_author)
              | #{reportData.doc.metadata.submitting_author}
            else
              | n/a
          </label>
        </div>
        <div class="property">
          <label class="key">Submitting Author email:</label>
          <label class="value">
            if(reportData.doc.metadata.submitting_author_email)
              | #{reportData.doc.metadata.submitting_author_email}
            else
              | n/a
          </label>
        </div>
      </section>
    </section>
    <section>
      <h3>Authors:</h3>
      if (reportData.doc.metadata.authors.length > 0)
        <ul>
          each val, index in reportData.doc.metadata.authors
            if (val.name)
              if (val.email)
                li #{val.name} (<strong>#{val.email}</strong>)
              else
                li #{val.name}
              ul
                if (val.name && val.affiliations)
                  each aff, index in val.affiliations
                    li #{aff}
        </ul>
      else
        <label>None</label>
    </section>
    <section>
      <h3>Suggested Data Availability Statement:</h3>
      <table class="report">
        if reportData.sortedDataObjectsInfo.all.length === 0
          <tr class="none">
            <td>None</td>
          </tr>
        else
          <tr class="header">
            <th>Data Type</th>
            <th>Title</th>
            <th>Stable Identifier</th>
          </tr>
          each dataset, index in reportData.sortedDataObjectsInfo.all
            <tr class="content">
              if (dataset.type.url)
                <td>
                  a(href=dataset.type.url) #{`${dataset.type.label}${dataset.type.isCutom ? " (custom)" : dataset.reuse ? " (reuse)" : ""}`}
                </td>
              else
                <td>#{dataset.type.label}</td>
              if dataset.name
                <td>
                  a(href=`#${dataset.id}`) #{dataset.name}
                </td>
              else
                <td>
                  a(href=`#${dataset.id}`) Please provide a name to this dataset
                </td>
              if dataset.DOI
                <td>
                  a(href=dataset.DOI) #{dataset.DOI}
                </td>
              else if dataset.comments
                <td>#{dataset.comments}</td>
              else
                <td>.</td>
            </tr>
      </table>
    </section>
    <section>
      <h2>Datasets:</h2>
      each item in [{"key":"protocols","label": "Protocols", "colspan": 5},{"key":"datasets","label": "Datasets", "colspan": 6},{"key":"code","label": "Code", "colspan": 5},{"key":"reagents","label": "Reagents", "colspan": 5}]
        h3.report #{item.label}:
        table(class="report")
          if reportData.sortedDataObjectsInfo[item.key].length === 0
            <tr class="none"><td>None</td></tr>
          else
            <tr class="header">
              <th>N°</th>
              <th>Title</th>
              if (item.key !== "datasets")
                <th colspan=2>Data Sentence</th>
              else
                <th>Datatype</th>
                <th>Data Sentence</th>
              <th>Stable Identifier</th>
              <th>Comments</th>
              <th>Re-Use</th>
            </tr>
            each dataset, index in reportData.sortedDataObjectsInfo[item.key]
              tr(class="content" id=dataset.id)
                <td>#{index+1}</td>
                if dataset.name
                  <td>#{dataset.name}</td>
                else
                  <td>Please provide a name to this dataset</td>
                if (item.key !== "datasets")
                  if dataset.sentences
                    <td colspan=2>#{dataset.sentences.map((item) => item.text)}</td>
                  else
                    <td colspan=2>n/a</td>
                else
                  if (dataset.type)
                    if (dataset.type.url)
                      <td>
                        a(href=dataset.type.url) #{dataset.type.label}
                      </td>
                    else
                      <td>#{dataset.type.label}</td>
                  else
                    <td>n/a</td>
                  if dataset.sentences
                    <td>#{dataset.sentences.map((item) => item.text)}</td>
                  else
                    <td>n/a</td>
                if dataset.DOI
                  <td>
                    a(href=dataset.DOI) #{dataset.DOI}
                  </td>
                else
                  <td>n/a</td>
                if dataset.comments
                  <td>#{dataset.comments}</td>
                else
                  <td>n/a</td>
                if dataset.reuse
                  <td>Yes</td>
                else
                  <td>No</td>
    </section>
    <section>
      <h2>Sharing best practice:</h2>
      if reportData.sortedDataObjectsInfo.all.length === 0
        <label>None</label>
      else
        each item in reportData.bestPractices.data
          div(class="bestPractice")
            h3.report
              a(href=item.url) #{item.label}
            ul
              li
                h4 Description:
              li
                if(item.description)
                  | !{item.description}
                else
                  <p>n/a</p>
              li
                h4 Best practice for sharing this type of data:
              li
                if(item.bestDataFormatForSharing)
                  | !{item.bestDataFormatForSharing}
                else
                  <p>n/a</p>
              li
                h4 Best practice for indicating re-use of existing data:
              li
                if(item.bestPracticeForIndicatingReUseOfExistingData)
                  | !{item.bestPracticeForIndicatingReUseOfExistingData}
                else
                  <p>n/a</p>
              li
                h4 Most suitable repositories:
              li
                if(item.mostSuitableRepositories)
                  | !{item.mostSuitableRepositories}
                else
                  <p>n/a</p>
  </body>
</html>
