| ### Data Discovery/Status Report
|
| Click [Here](#{publicURL}) for full report
|
| **Summary of datasets and Open Science materials associated with article:**
|
each item in [{"key":"protocols","label":"Protocol(s)"},{"key":"datasets","label":"Dataset(s)"},{"key":"code","label":"Code"},{"key":"reagents","label":"Reagents/Materials/Lab Resources"}]
  if(reportData.sortedDataObjectsInfo[item.key].length > 0)
    | - #{`${reportData.sortedDataObjectsInfo[item.key].length} ${item.label}`}
    |

each dataType in reportData.dataObjectsSummary
  if(dataType.key !== "other" && dataType.key !== "code software" && dataType.key !== "lab materials")
    |
    | **#{dataType.count} #{dataType.type.label} Dataset(s)**
    - let count = dataType.count - dataType.subTypes.reduce((acc, item) => acc += item.count, 0)
    if (count > 0)
      |
      | - #{count} "#{dataType.type.label}"
      |
    else
      |
      |
    if (dataType.subTypes && dataType.subTypes.length > 0)
      each subtype in dataType.subTypes
        | - #{subtype.count} "#{subtype.type.label.replace(`${dataType.type.label}: `, '')}"
        |