<!-- https://userflow.com/docs/dev/userflow-js-installation -->
div#userflow-data(token=conf.services.userflow.token user-name=current_user.fullname user-id=current_user._id user-email=current_user.username user-role=current_user.role.label)
script(src=conf.root + 'javascripts/userflow.js')
script(src=conf.root + 'javascripts/userflow.init.js')
