div(class='container-fluid')

  div(class='data' id='currentDatasetIndex' value='-1')

  div(class='form-row')
    label DataSet 
      label(class='datasetNumber') 1

div(id='dataType-update-form' class='container-fluid')
  div(class='form-row')
    label(for='dataType') Please select the data type from the pull down menu : 

  div(class='form-row')
    select(class='form-control dataType' id='selectedDataType')
      option(value='' selected) Select a data type
      each val, index in dataTypes
        option(value=(val)) #{val}

  div(class='form-row')
    button(id='dataType_validation' class='btn btn-primary') Select this DataType : Continue 

div(id='dataset-poperties-update-form' class='container-fluid')
  div(class='form-row')
    div(class='key d-inline font-weight-bold') Data type : 
    div(class='value d-inline' id='dataType') #{document.datasets[0].dataType}
    div(class='d-inline')
      button(id='remove_current_datatype' class='btn btn-danger btn-sm') Edit

  div(class='form-row')
    div(class='key d-inline font-weight-bold') Description : 
    div(class='value d-inline' id='descritpion') #{document.datasets[0].descritpion}

  div(class='form-row')
    div(class='key d-inline font-weight-bold') Best data format for sharing : 
    div(class='value d-inline' id='bestDataForSharing') #{document.datasets[0].bestDataForSharing}

  div(class='form-row')
    div(class='key d-inline font-weight-bold') Most suitable Repositories : 
    div(class='value d-inline' id='mostSuitableRepositories') #{document.datasets[0].mostSuitableRepositories}

  div(class='form-row')
    label(for='name') Please provide a name for this dataset (e.g. 'heart pressure data') : 
    input(type='text' class='form-control name' id='name' placeholder=(document.datasets[0].dataType + ' data') value=(document.datasets[0].dataType + ' data'))

  div(class='form-row')
    label(for='DOI') Please provide the DOI (or other stable link) to this dataset : 
    input(type='text' class='form-control DOI' id='DOI' placeholder='' value='')

  div(class='form-row')
    label(for='comments') Please enter any comments here (such as a reason why this dataset cannot be shared):
    textarea(class='form-control comments' id='comments' rows='3')

  div(class='form-row')
    button(id='dataset_validation' class='btn btn-primary') This info is correct : Continue 