extends ../layout

block content

  if error
    div(class='alert alert-warning' role='alert') #{error}
  if success
    div(class='alert alert-success' role='alert') #{success}

  include ../functions/format.pug
  
  div(class='container-fluid')
    div(class='row')
      div(class='col-12' style='background-color:#FFFFFF; border:1px solid #184D7E; border-radius: 20px; ')
        div(class='list')
          div(class='row')
            div(class='col-12 text-center' style='margin-top:10px;')
              div(class='header') Custom search:
          div(class='row')
            div(class='col-12 text-center')
              form#custom-search(role='form', action=conf.root + route,method='get')
                div Role: 
                  select.custom-select(style='width: auto' name='role')
                    if (params.role)
                      option(value='') All
                    else
                      option(value='' selected) All
                    each role in roles
                      if (params.role && params.role === role._id.toString())
                        option(value=role._id selected) #{role.label}
                      else
                        option(value=role._id) #{role.label}
                div Organisation: 
                  select.custom-select(style='width: auto' name='organisation')
                    if (params.organisation)
                      option(value='') All
                    else
                      option(value='' selected) All
                    each organisation in organisations
                      if (params.organisation && params.organisation === organisation._id.toString())
                        option(value=organisation._id selected) #{organisation.name}
                      else
                        option(value=organisation._id) #{organisation.name}
                div limit: 
                  input.form-control(style='display: inline-block; width: auto;' type='text' name='limit' placeholder='Maximum number of results' value=(params.limit))
                div
                  button.blue.btn.btn-primary.waves-effect.waves-light(type='submit') Search for accounts
          div(class='row')
            div(class='col-12 text-center')
              div(class='header') Accounts              
          div(class='row')
            div(class='col-1')
              button.blue.btn.btn-primary.waves-effect.waves-light(type='buttom' id='previous_skip') <
            div(class='col-10')
              input#search(type='text' name='username' placeholder='Search for email adress')
            div(class='col-1')
              button.blue.btn.btn-primary.waves-effect.waves-light(type='buttom' id='next_skip') >
          if  accounts.length === 0
            div(class='row')
              div(class='col-12 text-center')
                div(class='header') No data
          else
            div(class='row')
              div(class='col-12 text-center')
                div(class='count-list') #{accounts.length} result(s)
            div(class='row head-list')
              div(class='col-12')
                div(class='form-row')
                  div(class='col-2') Email
                  div(class='col-2') Full Name
                  div(class='col-2') Role
                  div(class='col-2') Organization
                  div(class='col-2') Token
                  div(class='col-2') Actions
            if  accounts.length === 0
              div(class='row')
                div(class='col-12 text-center')
                  div(class='header') No data
          each account, index in accounts
            div(class='row' data='true')
              div(class='col-12')
                form.accounts(role='form', action=conf.root + route, method='post')
                  div(class='form-row')
                    div(class='col-2') #{account.username}
                      input.form-control(type='text' name='username' class='hidden' value=account.username)
                    div(class='col-2')
                      input.form-control(type='text' name='fullname' value=account.fullname)
                    div(class='col-2')
                      select.custom-select(name='role')
                        each role, index in roles
                          if account.role.label === role.label
                            option(selected value=role._id) #{role.label}
                          else
                            option(value=role._id) #{role.label}
                    div(class='col-2')
                      select.custom-select(name='organisation')
                        each organisation, index in organisations
                          if account.organisation.name === organisation.name
                            option(selected value=organisation._id) #{organisation.name}
                          else
                            option(value=organisation._id) #{organisation.name}
                    if account.tokens.api
                      div(class='col-2')
                        input.hidden(type='text' name='apiToken' value=account.tokens.api)
                        button.blue.btn.btn-primary.waves-effect.waves-light(name='copy_token' data-account=account._id title='Copy the token to clipboard')
                          <i class="fas fa-copy"></i>
                        button.blue.btn.btn-primary.waves-effect.waves-light(type='submit' name='generate_token' title='Generate a new token')
                          <i class="fas fa-sync-alt"></i>
                        button.btn.btn-danger.waves-effect.waves-light(type='submit' name='revoke_token' title='Revoke the token')
                          <i class="far fa-trash-alt"></i>
                    else
                      div(class='col-2')
                        button.blue.btn.btn-primary.waves-effect.waves-light(type='submit' name='generate_token' title='Create a new token')
                          <i class="fas fa-plus"></i>
                    div(class='col-2')
                      button.blue.btn.btn-primary.waves-effect.waves-light(type='submit' name='update')
                        <i class="far fa-save"></i> Save account

          div(class='row')
            div(class='col-12' style='margin-top:20px;')