extends ../layout

block content

  if error
    div(class='alert alert-warning' role='alert') #{error}
  if success
    div(class='alert alert-success' role='alert') #{success}

  
  div(class='container-fluid')
    div(class='row')
      div(class='col-12' style='background-color:#FFFFFF; border:1px solid #184D7E; border-radius: 20px; ')
        div(class='list')
          div(class='row')
            div(class='col-12 text-center' style='margin-top:10px;')
              div(class='header') Custom search:
          div(class='row')
            div(class='col-12 text-center')
              form#custom-search(role='form', action=root + route,method='get')
                div role: 
                  select(name='role')
                    option(value='all') All
                    option(value='standard_user') Standard User
                    option(value='annotator') Annotator
                    option(value='curator') Curator
                div limit: 
                  input(type='text' name='limit' placeholder='Maximum number of results')
                div
                  button.btn.btn-default.waves-effect.waves-light(type='submit') Search for accounts
          div(class='row')
            div(class='col-12 text-center')
              div(class='header') Accounts
          if  accounts.length === 0
            div(class='row')
              div(class='col-12 text-center')
                div(class='header') No data
          else
            div(class='row')
              div(class='col-12 text-center')
                div(class='count-list') #{accounts.length} result(s)
            div(class='row')
              div(class='col-10 offset-1')
                input#search(type='text' name='username' placeholder='Search for email adress')
            div(class='row head-list')
              div(class='col-12')
                div(class='form-row')
                  div(class='col-3') Email
                  div(class='col-3') Role
                  div(class='col-2') Organization
                  div(class='col-1') Token
                  div(class='col-2') Actions
            if  accounts.length === 0
              div(class='row')
                div(class='col-12 text-center')
                  div(class='header') No data
          each account, index in accounts
            div(class='row' data='true')
              div(class='col-12')
                form.accounts(role='form', action=root + route, method='post')
                  div(class='form-row')
                    div(class='col-3') #{account.username}
                      input.form-control(type='text' name='username' class='hidden' value=account.username)
                    div(class='col-3')
                      select.custom-select(name='role')
                        each role, index in roles
                          if account.role.label === role.label
                            option(selected value=role.label) #{role.label}
                          else
                            option(value=role.label) #{role.label}
                    div(class='col-2')
                      select.custom-select(name='organisation')
                        if account.organisation === ''
                          option(selected value='') None
                        else
                          option(value='') None
                        each organisation, index in organisations
                          if account.organisation === organisation.name
                            option(selected value=organisation.name) #{organisation.name}
                          else
                            option(value=organisation.name) #{organisation.name}
                    div(class='col-1')
                      input.form-control(type='text' name='apiToken' value=account.apiToken)
                    div(class='col-2')
                      button.btn.btn-default.waves-effect.waves-light(type='submit' name='update') Update
                      button.btn.btn-default.waves-effect.waves-light(type='submit' name='generate_token') New Token

          div(class='row')
            div(class='col-12' style='margin-top:20px;')