extends ../layout

block content

  if error
    div(class='alert alert-warning' role='alert') #{error}
  if success
    div(class='alert alert-success' role='alert') #{success}

  
  div(class='container-fluid')
    div(class='row')
      div(class='col-12' style='background-color:#FFFFFF; border:1px solid #184D7E; border-radius: 20px; ')
        div(class='list')
          div(class='row')
            div(class='col-12 text-center' style='margin-top:10px;')
              div(class='header') Add new Organization:
          div(class='row')
            div(class='col-12 text-center' style='margin-top:10px;')
              form#new-organisation(role='form', action=conf.root + route,method='post')
                input.form-control(style='display: inline-block; width: auto;' type='text' name='name' placeholder='Name of new organization')
                button.blue.btn.btn-primary.waves-effect.waves-light(type='submit' name='create') Add
  
  div(class='container-fluid')
    div(class='row')
      div(class='col-12' style='background-color:#FFFFFF; border:1px solid #184D7E; border-radius: 20px; margin-top:15px;')
        div(class='list')
          div(class='row')
            div(class='col-12 text-center' style='margin-top:10px;')
              div(class='header') Custom search:
          div(class='row')
            div(class='col-12 text-center')
              form#custom-search(role='form', action=conf.root + route,method='get')
                div limit: 
                  input.form-control(style='display: inline-block; width: auto;' type='text' name='limit' placeholder='Maximum number of results' value=(params.limit))
                div
                  button.blue.btn.btn-primary.waves-effect.waves-light(type='submit') Search for organizations
          div(class='row')
            div(class='col-12 text-center')
              div(class='header') Organizations
          div(class='row')
            div(class='col-1')
              button.blue.btn.btn-primary.waves-effect.waves-light(type='buttom' id='previous_skip') <
            div(class='col-10')
              input#search(type='text' name='name' placeholder='Search for organization name')
            div(class='col-1')
              button.blue.btn.btn-primary.waves-effect.waves-light(type='buttom' id='next_skip') >
          if  organisations.length === 0
            div(class='row')
              div(class='col-12 text-center')
                div(class='header') No data
          else
            div(class='row')
              div(class='col-12 text-center')
                div(class='count-list') #{organisations.length} result(s)
            div(class='row head-list')
              div(class='col-12')
                div(class='form-row')
                  div(class='col-3 offset-3') Name
                  div(class='col-3') Actions
            if  organisations.length === 0
              div(class='row')
                div(class='col-12 text-center')
                  div(class='header') No data
          each organisation, index in organisations
            div(class='row' data='true')
              div(class='col-12')
                form.organisations(role='form', action=conf.root + route, method='post')
                  div(class='form-row')
                    div(class='col-3 offset-3')
                      input.form-control(type='text' class='hidden' name='_id' value=organisation._id)
                      input.form-control(type='text' name='name' value=organisation.name)
                    div(class='col-3')
                      button.blue.btn.btn-primary.waves-effect.waves-light(type='submit' name='update') Update
                      button.btn.btn-danger.waves-effect.waves-light(type='submit' name='delete') Delete

          div(class='row')
            div(class='col-12' style='margin-top:20px;')